
.aboutMeLink{
    display: flex;
    justify-content: center; 
    padding-bottom: 2em; 
}
.aboutMeModal{
    display: flex;
    justify-content: center;
}

.topButtons{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.portfolioGithubLink{
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
}

.AutoAndMultiplier{
    display: flex;  
    justify-content: center;
    justify-content: space-around;
}
.DonutCountButtonAndCount{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    padding: 1em 25em 1em 25em; 
}
.DonutCountDisplay{
    display: flex;  
    justify-content: center;
    padding-bottom: 2em;
}
.GameRestart{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    padding: 1em 25em 1em 25em; 
}